.container-fluid {
  padding: 0;
}

.btn-custom {
  width: 150px;
}

.navbar {
  border-bottom: 2px solid #17a2b8 !important;
}

.jumbotron {
  border-radius: 0;
}

li a:hover {
  box-shadow: 2px 2px 2px #17a2b8 !important;
  color: #17a2b8 !important;
}

#fonticon-search {
  color: #f8f9fa !important;
  cursor: pointer;
  width: 1;
  background-color: #17a2b8 !important;
}
