.container-fluid {
  padding: 0;
}

.btn-custom {
  width: 150px;
}

.navbar {
  border-bottom: 2px solid #17a2b8 !important;
}

.jumbotron {
  border-radius: 0;
}

.nav-menu,
#signin,
#signup {
  color: #17a2b8 !important;
}

.nav-menu:hover {
  box-shadow: 2px 2px 2px #17a2b8 !important;
  font-weight: bold;
}

#signin:hover,
#signup:hover {
  box-shadow: none;
  font-weight: bold;
}

#fonticon-search {
  color: #f8f9fa !important;
  cursor: pointer;
  width: 1;
  background-color: #17a2b8 !important;
}

#events-map {
  background-color: #bee5eb;
  color: #17a2b8 !important;
}

#events-list {
  background-color: white;
  color: #17a2b8 !important;
}

.modal-bg {
  background: #17a2b8 !important;
  /* linear-gradient(rgba(255, 193, 7, 0.5), rgba(255, 193, 7, 0.9)); */
  /* border: 3px solid #ffc107; */
  color: #f8f9fa !important;
  font-weight: Bold;
  font-size: large;
}
